<!DOCTYPE html>
<html ng-app>
<head>
<script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js"></script>
<meta charset=utf-8 />
<title>Welcome to JS Bin</title>
<meta name="viewport" content="width=device-width">
<link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>
</head>
<script>
function Fizzbuzz($scope)
{
  $scope.fizbuz = funtion (var number)
  {
    
    alert("a");
  }
}
    
}
</script>
<body>
  <div ng-controler(Fizzbuzz)>
    Welcome<br>
  <form>
    <input type="text" ng-model="number" placeholder="Enter a number here">
    <button ng-click="fizbuz({{number}})">Button</button><br>
  </form>
  <ol>  
    <li> 1<br>
    <li> 2<br>
    <li> Fizz<br>
    <li> 4<br>
    <li> Buzz<br>
   </ol>
    
  
    
    
    
  </div>
  
  
</body>
</html>
