<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>

    <script type="text/javascript">
        function FizzBuzz($scope, $http) {
            $scope.todos = [];
            $scope.addTodo = function () {
                $http({ method: 'POST', url: '/Fizz/FizzBuzz', data: { p: $scope.txt } })
                            .success(function (data, status, headers, config) {
                                document.getElementById("results").innerHTML = data;
                    })
                            .error(function (error) {
                                alert("Tylko cyfry");
                            });

            };
        };
    </script>
</head>
<body style="background-repeat: no-repeat">
    <div ng-controller="FizzBuzz">
        Wpisz cos: <input type="text" ng-model="txt" ng-change="addTodo()" placeholder="Wpisz cyfrę">
        <div id="results"></div>
    </div>
</body>
</html>


           
