@{
    ViewBag.Title = "Index";
}
<h2>Podaj liczbę:</h2>
<form method="post" action="/test/GetNumbersFromServer">
    <input type="text" name="number"/>
    <input type="submit" value="wyslij"/>
</form>
